# Node.js
/node_modules
/.next
/out
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Python
venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc

# Flask specific
instance/
.env
*.sqlite3

# Vercel
.vercel
